# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Uploaded Event Logs
data/uploaded_logs/*

# Environment Variables
.env

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Python Packaging
*.egg-info/

# Streamlit Cache
.streamlit/